* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    border-bottom: 5px rgb(139, 15, 15) solid;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-top: 5px rgb(139, 15, 15) solid;
}

h1, h2 {
}

ul {
    
}

li {
    display: inline;
    padding: 10px;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body {
    display: block;
    margin: 5px auto;
    border: 10px rgb(139, 15, 15) solid;
    margin-top: 100px;
}

.nav-bar {
    display: flex;
    align-items: center;
    height: 80px;
}

.tech {
    text-align: center;
}

.footer {
    margin: 20px auto;
}

.logo {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: left;
    width: 33%;
}

.head-2 {
    flex-grow: 1;
    text-align: center;
    width: 33%;
}

.contacts {
    flex-grow: 1;
    text-align: right;
    width: 33%;
}

#img-logo {
    width: 50px;
    height: 50px;
    margin-left: unset;
    padding-left: 10px;
}

